
/* body {
    background: url('https://images.homedepot-static.com/productImages/93a55e1f-3962-4935-97a3-f9db15ee3300/svn/kona-straw-heritage-mill-tile-backsplashes-wc1004-64_1000.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } */
  